@* @inject IHttpContextAccessor contex *@
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

@* @if(contex.HttpContext.Session.GetString("username" != null)) *@

@if (Context.Session?.GetString("username") != null)
{
    <h1>Welcome To Home Page</h1>
}
else
{
    <h1>Please LogIn First....!!</h1>
}